:root{
  --body-text-color:#212121;
  --color-h1-title:#FFFFFF;
  --text-link-color-hover:#2196F3;
  --title-color:#212121;
  --text-color:#757575;
  --buton-background-color-hover:#064f8a;;
  --color-ddress:#757575;
  --tex-buton-color:#FFFFFF;
  --buton-background-color:#2196F3;
  --hero-backgrount-color: #2F303A;
  --fotter-backgrount-color:#2F303A;
  --team-backgrount-color:#F5F4FA;
  --logo-one-color:#2196F3;
  --logo-two-color:#212121;
  --buton-work-color:#212121;
  --buton-work-backgrount-color:#FFFFFF;
  --buton-work-color-hover:#FFFFFF;
  --buton-work-backgrount-hover:#2196F3;
}

body{ font-family: 'Roboto',sans-serif;
color: var(--body-text-color);
}

.list {
  list-style:none;
}
.link {
text-decoration:none;
}

/*--------HEDER------*/
.logo {
font-family:'Raleway',sans-serif;
font-style:none; 
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
letter-spacing: 0.03em;
color:var(--logo-one-color);
}
.logo-accent{
font-family:'Raleway',sans-serif;
font-style:none; 
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
letter-spacing: 0.03em;
color:var(--logo-two-color);
}
.header-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color:var(--title-color);
}
.header-link:hover,
.header-link:focus{
  color:var(--text-link-color-hover);
}

.contakt-link {
font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;
color:var(--color-ddress);
}
.contakt-link:hover,
.contakt-link:focus{
color:var(--text-link-color-hover);
} 
/*--------------HERO-------------------*/
.hero{
  background-color: var(--hero-backgrount-color);
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height:calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--color-h1-title);
}
.hero-btb {
font-family: inherit;
cursor:pointer;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--tex-buton-color);
background:var(--buton-background-color);
border-radius: 4px;

}
.hero-btb:focus,
.hero-btb:hover{
background: var(--buton-background-color-hover);

}
/*-----------ABOUT_Наші переваги-------------*/
.about {
}
.about-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-list {
}
.about-item {
}
.about-after-title{
ffont-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--title-color);
}
.about-text {
font-size: 14px;
line-height:calc(24/14);
letter-spacing: 0.03em;
color:var(--text-color);
}
/*--------------------PROJECT----------------------------*/
.project {
}
.project-title {
font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
}
.project-list {
}
.project-item {
}
/*---------------------TEAM---------------------------------*/
.team {background-color: var(--team-backgrount-color);
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
}
.team-list {
}
.list {
}
.team-item {
}
.team-after-title {
font-weight: 500;
font-size: 16px;
line-height:calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
}
.team-text{
font-size: 16px;
line-height:calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color:var(--text-color);
}
/*-------------ФУТЕР--------------*/
.footer { background-color: #212121;

}
.footer-list {
}
.footer-iten {
}
.footer-link {
font-style: inherit;
font-size: 14px;
line-height:calc(24/14);
letter-spacing: 0.03em;
color: var(--tex-buton-color);
}
.footer-link:focus,
.footer-link:hover{
color: var(--text-link-color-hover);
}
.logo-accent-footer{
color: var(--color-h1-title);
}
.footer-adress{
  font-style: normal;
}
/*-----------PORTFOLIO-----------*/
.work {
}
.work-title 
{position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.work-list {
}
.work-item {
}
.work-btb {
font-family: inherit;
cursor:pointer;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
text-align:center;
letter-spacing: 0.03em;
color:var(--buton-work-color);
background:var(--buton-work-backgrount-color);
border-radius: 4px;
}
.work-btb:focus,
.work-btb:hover{
color:var(--buton-work-color-hover);
background:var(--buton-work-backgrount-hover);
}
.work-list-projekts {
}
.item-list-projekts {
}
.work-item-projekts {
}
.work-after-title {
font-weight: 700;
font-size: 18px;
line-height:calc(36/18);
letter-spacing: 0.06em;
color:var(--title-color);
}
.work-text{
font-size: 16px;
line-height:calc(30/16);
letter-spacing: 0.03em;
color:var(--text-color);
}





























































































































































































